body {
    background: url("../media/background.jpg");
    background-size: cover;
}

hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
}

.incomingVisits {
    margin-top: 20px;
    margin-bottom: 20px;
}

th[colspan="4"] {
    text-align: center;
}

td, i, span {
    text-align: center;
}