<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>account</title>
    <link rel="stylesheet" href="/css/accountPage.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://use.fontawesome.com/c4850ae3d6.js"></script>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/account/">CLINIC</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" href="/admin/">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#incoming-visits">INCOMING</a>
                </li>
                <li  sec:authorize="hasRole('ROLE_PATIENT')" class="nav-item">
                    <a class="nav-link" href="#new-visit">NEW</a>
                </li>
                <li  sec:authorize="hasRole('ROLE_DOCTOR')" class="nav-item">
                    <a class="nav-link" href="#today-visits">DAILY</a>
                </li>
                <li  sec:authorize="hasRole('ROLE_DOCTOR')" class="nav-item">
                    <a class="nav-link" href="#leave">LEAVE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#history">HISTORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="incoming-visits" class="incomingVisits row justify-content-center">
        <div col-8>
            <div th:if="${incVisits!=null and !incVisits.isEmpty()}">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="4">INCOMING VISITS</th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="visit : ${incVisits}">
                            <tr>
                                <td th:text="${visit.dateOfVisit}"></td>
                                <td th:text="${visit.timeOfVisit}"></td>
                                <td th:text="${visit.doctor}"></td>
                                <td>
                                    <span class="note-icon" th:onclick="'showNotesModal(\'' + ${visit.id} + '\');'">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${incVisits!=null and !incVisits.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    You don't have any incoming visits.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div sec:authorize="hasRole('ROLE_PATIENT')">
        <div id="new-visit" class="row justify-content-center">
            <div class="col-8">

                <div th:if="${isFormValid == false}" class="alert">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Form is not valid</strong> Please try again.
                        <ul>
                            <li th:each="error:${errors}" th:text="${error}"></li>
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <form name="newVisitForm" action="#" th:action="@{/account/register/visit}" th:object="${visit}" method="post">
                    <div class="form-group row">
                        <label for="doctor" class="col-sm-2 col-form-label">Doctor*</label>
                        <div class="col-sm-10">
                            <select id="doctor" class="form-control" th:field="*{doctor}" required>
                                <option th:each="doctor : ${doctors}"
                                        th:value="${doctor.id}"
                                        th:text="${doctor}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="visit-date" class="col-sm-2 col-form-label">Date*</label>
                        <div class="col-sm-10">
                            <input id="visit-date" class="form-control" type="date" th:field="*{dateOfVisit}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="visit-time" class="col-sm-2 col-form-label">Time*</label>
                        <div class="col-sm-10">
                            <select id="visit-time" class="form-control" th:field="*{timeOfVisit}" required>

                            </select>
                            <span id="message"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="note" class="col-sm-2 col-form-label">Note</label>
                        <div class="col-sm-10">
                            <input id="note" class="form-control" type="text" th:field="*{note}">
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-success btn-block" value="REGISTER NEW VISIT">
                        <input type="reset" class="btn btn-outline-dark btn-block" value="RESET">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_DOCTOR')">
        <div id="today-visits" class="todayVisits row justify-content-center">
            <div col-8>
                <div th:if="${dailyVisits!=null and !dailyVisits.isEmpty()}">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="4">DAILY VISITS</th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="visit : ${dailyVisits}">
                            <tr>
                                <td th:text="${visit.dateOfVisit}"></td>
                                <td th:text="${visit.timeOfVisit}"></td>
                                <td th:text="${visit.doctor}"></td>
                                <td>
                                    <span class="note-icon" th:onclick="'showNotesModal(\'' + ${visit.id} + '\');'">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${incVisits!=null and !incVisits.isEmpty()}">
                    <div class="alert alert-info" role="alert">
                        You don't have any visits planned for today.
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div id="leave" class="leave row justify-content-center">
            <div class="col-6 sm-6 align-self-center">

                <div th:if="${isLeaveFormValid == false}" class="alert">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Form is not valid</strong> Please try again.
                        <ul>
                            <li th:each="error:${leaveErrors}" th:text="${error}"></li>
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <form name="leaveForm" action="#" th:action="@{/account/leave}" th:object="${leave}" method="post">
                    <div class="form-group row">
                        <label for="from-date" class="col-sm-2 col-form-label">Begin:</label>
                        <div class="col-sm-10">
                            <input id="from-date" class="form-control" type="date" th:field="*{startLeave}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="to-date" class="col-sm-2 col-form-label">End:</label>
                        <div class="col-sm-10">
                            <input id="to-date" class="form-control" type="date" th:field="*{endLeave}" required>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-success btn-block" value="APPLY FOR LEAVE">
                        <input type="reset" class="btn btn-outline-dark btn-block" value="RESET">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="modal-visit-id" value="" hidden></span>
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div id="modal-notes-list">

                    </div>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="add-note-btn" class="btn btn-primary" data-dismiss="modal">Send message</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="history" class="row justify-content-center">
        <div col-8>
            <div th:if="${incVisits!=null and !incVisits.isEmpty()}">
                <table class="table previousVisits">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="4">PREVIOUS VISITS</th>
                    </tr>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="visit : ${prevVisits}">
                        <tr>
                            <td th:text="${visit.dateOfVisit}"></td>
                            <td th:text="${visit.timeOfVisit}"></td>
                            <td th:text="${visit.doctor}"></td>
                            <td>
                                    <span class="note-icon" th:onclick="'showNotesModal(\'' + ${visit.id} + '\');'">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${incVisits!=null and !incVisits.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    You don't have any previous visits.
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-dark footer">
    <div class="container text-center">
        © 2019 Copyright: Szymon Klimczuk
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/accountPage.js"></script>
</body>