<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>account</title>
    <link rel="stylesheet" href="/css/accountPage.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://use.fontawesome.com/c4850ae3d6.js"></script>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/account/">CLINIC</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#incoming-visits">INCOMING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#new-visit">NEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#history">HISTORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="incoming-visits" class="incomingVisits row justify-content-center">
        <div col-8>
            <div th:if="${incVisits!=null and !incVisits.isEmpty()}">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="4">INCOMING VISITS</th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="visit : ${incVisits}">
                            <tr>
                                <td th:text="${visit.dateOfVisit}"></td>
                                <td th:text="${visit.timeOfVisit}"></td>
                                <td th:text="${visit.doctor}"></td>
                                <td>
                                    <span onclick="showNotes()">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${incVisits!=null and !incVisits.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    You don't have any incoming visits.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="new-visit" class="row justify-content-center">
        <div class="col-8">

            <div th:if="${isFormValid == false}" class="alert">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Form is not valid</strong> Please try again.
                    <ul>
                        <li th:each="error:${errors}" th:text="${error}"></li>
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <form name="newVisitForm" action="#" th:action="@{/account/register/visit}" th:object="${visit}" method="post">
                <div class="form-group">
                    <label for="doctor">Doctor:</label>
                    <select id="doctor" class="form-control" th:field="*{doctor}" required>
                        <option th:each="doctor : ${doctors}"
                                th:value="${doctor.id}"
                                th:text="${doctor}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="visit-date">Date:</label>
                    <input id="visit-date" class="form-control" type="date" th:field="*{dateOfVisit}" required>
                </div>
                <div class="form-group">
                    <label for="visit-time">Time</label>
                    <select id="visit-time" class="form-control" th:field="*{timeOfVisit}" required>
                        <option th:value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="note">Note:</label>
                    <input id="note" class="form-control" type="text" th:field="*{note}">
                </div>
                <div>
                    <input type="submit" class="btn btn-outline-success btn-block" value="REGISTER NEW VISIT">
                    <input type="reset" class="btn btn-outline-dark btn-block" value="RESET">
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div id="history" class="row justify-content-center">
        <div col-8>
            <div th:if="${incVisits!=null and !incVisits.isEmpty()}">
                <table class="table previousVisits">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="4">PREVIOUS VISITS</th>
                    </tr>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="visit : ${prevVisits}">
                        <tr>
                            <td th:text="${visit.dateOfVisit}"></td>
                            <td th:text="${visit.timeOfVisit}"></td>
                            <td th:text="${visit.doctor}"></td>
                            <td>
                                    <span>
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${incVisits!=null and !incVisits.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    You don't have any previous visits.
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">

            </div>
            <div class="col-md-6 mb-4">

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        © 2019 Copyright: Szymon Klimczuk
    </div>
</footer>

<div class="note-modal modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            here note will be show
        </div>
    </div>
</div>

<script src="/js/accountPage.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>