<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>admin</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://use.fontawesome.com/c4850ae3d6.js"></script>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/account/">CLINIC</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/account/">DOCTOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doctor-form">ADD EMPLOYEE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#leaves">LEAVES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#employees">EMPLOYEES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#patients">PATIENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div th:if="${isDoctorFormValid == false}" class="alert">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Form is not valid</strong> Please try again.
            <ul>
                <li th:each="error:${errors}" th:text="${error}"></li>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div id="doctor-form" class="row justify-content-center">
        <div class="col-6 sm-6 align-self-center">
            <form name="registerForm" action="#" th:action="@{/admin/add/doctor}" th:object="${doctor}" method="post">
                <div class="form-group row">
                    <label for="reg-name" class="col-sm-2 col-form-label">name*</label>
                    <div class="col-sm-10">
                        <input type="text" id="reg-name" class="form-control form-control-sm" placeholder="name" th:field="*{name}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-surname" class="col-sm-2 col-form-label">surname*</label>
                    <div class="col-sm-10">
                        <input type="text" id="reg-surname" class="form-control form-control-sm" placeholder="surname" th:field="*{surname}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-specialization" class="col-sm-2 col-form-label">specialization*</label>
                    <div class="col-sm-10">
                        <input type="text" id="reg-specialization" class="form-control form-control-sm" placeholder="specialization" th:field="*{specialization}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-email" class="col-sm-2 col-form-label">email*</label>
                    <div class="col-sm-10">
                        <input type="email" id="reg-email" class="form-control form-control-sm" placeholder="email" th:field="*{email}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-pesel" class="col-sm-2 col-form-label">pesel*</label>
                    <div class="col-sm-10">
                        <input type="text" id="reg-pesel" class="form-control form-control-sm" placeholder="pesel" th:field="*{pesel}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-birth" class="col-sm-2 col-form-label">date of birth*</label>
                    <div class="col-sm-10">
                        <input type="date" pattern="dd-MM-yyyy" id="reg-birth" class="form-control form-control-sm" placeholder="date of birth" th:field="*{dateOfBirth}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-phone" class="col-sm-2 col-form-label">phone*</label>
                    <div class="col-sm-10">
                        <input type="text" id="reg-phone" class="form-control form-control-sm"  placeholder="phone" th:field="*{phone}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-password" class="col-sm-2 col-form-label">password*</label>
                    <div class="col-sm-10">
                        <input type="password" id="reg-password" class="form-control form-control-sm" placeholder="password" th:field="*{password}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="reg-mpassword" class="col-sm-2 col-form-label">matching password*</label>
                    <div class="col-sm-10">
                        <input type="password" id="reg-mpassword" class="form-control form-control-sm" placeholder="matching password" th:field="*{matchingPassword}" required/>
                    </div>
                </div>
                <div>
                    <input type="submit" id="register-submit-btn" class="btn btn-outline-success btn-block btn-sm" value="REGISTER"/>
                    <input type="reset" class="btn btn-outline-dark btn-block btn-sm" value="RESET"/>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div id="leaves" class="leaves row justify-content-center">
        <div col-8>
            <div th:if="${leaves!=null and !leaves.isEmpty()}">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="4">LEAVES</th>
                    </tr>
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Begin</th>
                        <th scope="col">End</th>
                        <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="leave : ${leaves}">
                        <tr>
                            <td th:text="${leave.doctor}"></td>
                            <td th:text="${leave.begin}"></td>
                            <td th:text="${leave.end}"></td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="active-leave" name="" th:onclick="'changeActiveLeave(\'' + ${leave.id} + '\');'"/>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${leaves!=null and !leaves.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    No leave requests.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="employees" class="allDoctors row justify-content-center">
        <div col-8>
            <div th:if="${doctors!=null and !doctors.isEmpty()}">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="7">EMPLOYEES</th>
                    </tr>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Pesel</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="doctor : ${doctors}">
                        <tr>
                            <td th:text="${doctor.name}"></td>
                            <td th:text="${doctor.surname}"></td>
                            <td th:text="${doctor.email}"></td>
                            <td th:text="${doctor.phone}"></td>
                            <td th:text="${doctor.pesel}"></td>
                            <td>
                                <span class="note-icon" th:onclick="'editDoctor(\'' + ${doctor.id} + '\');'">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </td>
                            <td>
                                <span class="note-icon" th:onclick="'deleteUser(\'' + ${doctor.id} + '\');'">
                                    <i class="fas fa-user-times"></i>
                                </span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${doctors!=null and !doctors.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    No employees.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="patients" class="patients row justify-content-center">
        <div col-8>
            <div th:if="${patients!=null and !patients.isEmpty()}">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="7">Patients</th>
                    </tr>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Pesel</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="patient : ${patients}">
                        <tr>
                            <td th:text="${patient.name}"></td>
                            <td th:text="${patient.surname}"></td>
                            <td th:text="${patient.email}"></td>
                            <td th:text="${patient.phone}"></td>
                            <td th:text="${patient.pesel}"></td>
                            <td>
                                <span class="note-icon" th:onclick="'editPatient(\'' + ${patient.id} + '\');'">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </td>
                            <td>
                                <span class="note-icon" th:onclick="'deleteUser(\'' + ${patient.id} + '\');'">
                                    <i class="fas fa-user-times"></i>
                                </span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:unless="${patients!=null and !patients.isEmpty()}">
                <div class="alert alert-info" role="alert">
                    No patients.
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="update-patient" tabindex="-1" role="dialog" aria-labelledby="updatePatientModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePatientModal">Update patient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="patient-id" hidden></span>
                    <form>
                        <div class="form-group">
                            <label for="upd-name">name</label>
                            <input type="text" id="upd-name" class="form-control form-control-sm" placeholder="name" />
                        </div>
                        <div class="form-group">
                            <label for="upd-surname">surname</label>
                            <input type="text" id="upd-surname" class="form-control form-control-sm" placeholder="surname"/>
                        </div>
                        <div class="form-group">
                            <label for="upd-email">email</label>
                            <input type="email" id="upd-email" class="form-control form-control-sm" placeholder="email"/>
                        </div>
                        <div class="form-group">
                            <label for="upd-pesel">pesel</label>
                            <input type="text" id="upd-pesel" class="form-control form-control-sm" placeholder="pesel"/>
                        </div>
                        <div class="form-group">
                            <label for="upd-phone">phone</label>
                            <input type="text" id="upd-phone" class="form-control form-control-sm"  placeholder="phone"/>
                        </div>
                        <div class="form-group">
                            <label for="upd-password">password</label>
                            <input type="password" id="upd-password" class="form-control form-control-sm" placeholder="password"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="update-patient-btn" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="update-doctor" tabindex="-1" role="dialog" aria-labelledby="updateDoctorModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateDoctorModal">Update doctor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="doctor-id" hidden></span>
                    <form>
                        <div class="form-group">
                            <label for="updd-name">name</label>
                            <input type="text" id="updd-name" class="form-control form-control-sm" placeholder="name" />
                        </div>
                        <div class="form-group">
                            <label for="updd-surname">surname</label>
                            <input type="text" id="updd-surname" class="form-control form-control-sm" placeholder="surname"/>
                        </div>
                        <div class="form-group">
                            <label for="updd-specialization">specialization</label>
                            <input type="text" id="updd-specialization" class="form-control form-control-sm" placeholder="specialization"/>
                        </div>
                        <div class="form-group">
                            <label for="updd-email">email</label>
                            <input type="email" id="updd-email" class="form-control form-control-sm" placeholder="email"/>
                        </div>
                        <div class="form-group">
                            <label for="updd-pesel">pesel</label>
                            <input type="text" id="updd-pesel" class="form-control form-control-sm" placeholder="pesel"/>
                        </div>
                        <div class="form-group">
                            <label for="updd-phone">phone</label>
                            <input type="text" id="updd-phone" class="form-control form-control-sm"  placeholder="phone"/>
                        </div>
                        <div class="form-group">
                            <label for="updd-password">password</label>
                            <input type="password" id="updd-password" class="form-control form-control-sm" placeholder="password"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="update-doctor-btn" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

<footer id="footer" class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center">
        © 2019 Copyright: Szymon Klimczuk
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/adminPage.js"></script>
</body>