<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>

    <link rel="stylesheet" href="../static/css/registerPage.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CLINIC</a>
        </div>
    </div>
</nav>

<div class="container">
    <div id="register-form" class="row justify-content-center">
        <div class="col-6 sm-6 align-self-center">
            <form name="registerForm" action="#" th:action="@{/register/user}" th:object="${user}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="name" th:field="*{name}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="surname" th:field="*{surname}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-sm" placeholder="email" th:field="*{email}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="pesel" th:field="*{pesel}">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control form-control-sm" placeholder="date of birth" th:field="*{dateOfBirth}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm"  placeholder="phone" th:field="*{phone}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm" placeholder="password" th:field="*{password}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm" placeholder="matching password" th:field="*{matchingPassword}">
                </div>
                <div>
                    <input type="submit" class="btn btn-outline-success btn-block btn-sm" value="REGISTER">
                    <input type="reset" class="btn btn-outline-dark btn-block btn-sm" value="RESET">
                </div>
            </form>
        </div>
    </div>
</div>

<footer id="footer" class="page-footer font-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">

            </div>
            <div class="col-md-6 mb-4">

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        © 2019 Copyright: Szymon Klimczuk
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>